<header class="top-page-header">
  <div class="search-bar-contents">
    <%= link_to image_tag("title-logo.png", class:"title-logo"), "/" %>
    <form class="search-form" action="#">
    <input class="input-box" placeholder='例:トマト ナス'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <li><%= link_to '旬の野菜', "#", class: "season-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
    <% elsif farmer_signed_in? %> 
      <li><%= link_to current_farmer.representative, "#", class: "farmer-name" %></li> 
      <li><%= link_to 'ログアウト', destroy_farmer_session_path, method: :delete, class: "logout" %></li>
      <li><%= link_to "出品する", new_item_path, class: "btn" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <li><%= link_to '生産者ログイン', new_farmer_session_path, class: "f-login" %></li>
      <li><%= link_to '生産者登録', new_farmer_registration_path, class: "f-sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>